<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

{%- include snippets/get-article-title.html article=page -%}
<title>{%- if __return -%}{{ __return }} - {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>

<meta name="description" content="{%- if page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | strip | truncate: 160 }}{%- else -%}{{ site.description }}{%- endif -%}">
<link rel="canonical" href="{%- include snippets/page-url.html -%}">

{%- assign _paths_rss = site.paths.rss | default: site.data.variables.default.paths.rss -%}
{%- include snippets/get-nav-url.html path=_paths_rss -%}
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ __return }}">

{%- include head/favicon.html -%}

{%- include snippets/prepend-baseurl.html path='/assets/css/main.css' -%}
<link rel="stylesheet" href="{{ __return }}">

{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}
<link rel="stylesheet" href="{{ _sources.font_awesome }}" >

{%- include head/custom.html -%}








<!-- ... 以下是新增 ... -->

<div style="display:none">
$
\def\NN{\mathbb{N}}
\def\RR{\mathbb{R}}
\def\CC{\mathbb{C}}
\def\ZZ{\mathbb{Z}}
\def\DD{\mathbb{D}}
\def\QQ{\mathbb{Q}}
\def\HH{\mathbb{H}}
\def\PP{\mathbb{P}}
\def\EE{\mathbb{E}}
\def\FF{\mathbb{F}}
\def\LL{\mathbb{L}}
\def\TT{\mathbb{T}}
\def\WW{\mathbb{W}}
\def\UU{\mathbb{U}}
\def\BB{\mathbb{B}}
\def\Wb{\mathbf{W}}
\def\Pb{\mathbf{P}}
\def\Eb{\mathbf{E}}
\def\Hb{\mathbf{H}}
\def\Qb{\mathbf{Q}}
\def\Fb{\mathbf{F}}
\def\Mb{\mathbf{M}}
\def\Ec{\mathcal{E}}
\def\Fc{\mathcal{F}}
\def\Ac{\mathcal{A}}
\def\Kc{\mathcal{K}}
\def\Bc{\mathcal{B}}
\def\Dc{\mathcal{D}}
\def\Sc{\mathcal{S}}
\def\Wc{\mathcal{W}}
\def\Uc{\mathcal{U}}
\def\Pc{\mathcal{P}}
\def\Lc{\mathcal{L}}
\def\Zc{\mathcal{Z}}
\def\Qc{\mathcal{Q}}
\def\Nc{\mathcal{N}}
\def\Gc{\mathcal{G}}
\def\Rc{\mathcal{R}}
\def\Hc{\mathcal{H}}
\def\Mc{\mathcal{M}}
\def\Lc{\mathcal{L}}
\def\Cc{\mathcal{C}}
\def\Bf{\mathfrak{B}}
\def\Mf{\mathfrak{M}}
\def\Lf{\mathfrak{L}}
\def\Af{\mathfrak{A}}
\def\Bf{\mathfrak{B}}
\def\Tf{\mathfrak{T}}
\def\zf{\mathfrak{z}}
\def\dr{\mathrm{d}}
\def\al{\alpha}
\def\be{\beta}
\def\ga{\gamma}
\def\eps{\varepsilon}
\def\oo{\infty}
\def\l{\ell}
\def\lam{\lambda}
\def\Lam{\Lambda}
\def\Ga{\Gamma}
\def\ka{\kappa}
\def\w{\omega}
\def\sig{\sigma}
\def\less{\lesssim}
\def\d{\partial}
\def\X{\times}
\def\grad{\nabla}
\def\temp{\square}
\def\ra{\rightarrow}
\def\Ra{\Rightarrow}
\newcommand\norm[1]{\left\lVert#1\right\rVert}
\newcommand{\innerp}[1]{\left\langle  #1  \right\rangle}
\newcommand{\abss}[1]{\left|   #1   \right|}
\newcommand{\lr}[1]{\left(  #1  \right)}
\newcommand{\lrr}[1]{\left[  #1  \right]}
\newcommand{\lrrr}[1]{\left\{  #1  \right\}}
\newcommand{\quot}[2]{{\raisebox{.2em}{$#1$}\left/\raisebox{-.2em}{$#2$}\right.}}
\newcommand{\indep}{\,\rotatebox[origin=c]{90}{$\models$}\,}
$
</div>
